/* 
*/
* {
    box-sizing: border-box;
}

/* font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

/* Contenedores generales ---------------------------------------------------------- */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px transparent;
    border-radius: 0.25rem;
}

/* Menu ---------------------------------------------------------- */

header {
    box-shadow: 0 0 35px grey;
}

.bg-dark {
    background-color: #ccc !important;
    padding: 1.5rem;
}

.navbar-toggler:focus {
    outline-color: grey;
}

.menu-principal ul li:hover {
    transform: translate(-4%);
}

.menu-principal img {
    height: 70px;
}

/* Texto ------------------------------------------------------------------------------------------------------------------------*/
h2 {
    color: grey;
}

/*  */


p {
    font-size: 20px;
    color: grey;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: "letra";
}

a {
    font-family: "Lucida Grande";
}

/* Index */

#mare_index figure {
    padding: 1rem;
}

@media screen and (min-width: 992px) {

    #mare_index img {
        height: 60vh;
    }
}

@media screen and (max-width: 992px) {
    #mare_index img {
        height: 40vh;
    }

}

/* Equipo */

@media screen and (min-width: 992px) {

    #mare_equipo img {
        height: 80vh;
    }
}

@media screen and (max-width: 992px) {
    #mare_equipo img {
        height: 50vh;
    }

}

/* Productos */

#mare_productos {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

#mare_productos h1 {
    color: grey;
}

#mare_productos figure img {
    height: 50vh;
    width: 50vh;
    border: 1px solid #ccc;
}

#mare_productos .card {
    padding-top: 1rem;
}

@media screen and (max-width: 992px) {
    #mare_productos div {
        background-color: gainsboro;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #mare_productos .card {
        background-color: gainsboro;
    }
}

/* Recomendaciones */

#mare_recomendaciones {
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-radius: 6px;
}

#mare_recomendaciones h1 {
    color: grey;
    font-size: 2rem;
}

#mare_recomendaciones h2 {
    color: rgb(95, 95, 95);
}

#mare_recomendaciones figure img {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border-radius: 1px solid black;

}

@media screen and (max-width: 992px) {
    #mare_recomendaciones div {
        background-color: $secondary;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #mare_recomendaciones .card {
        background-color: $secondary;
    }
}

@media screen and (min-width: 992px) {

    #mare_recomendaciones .card {
        padding: 1rem;
    }

    #mare_recomendaciones .card:nth-child(2n) {
        background-color: $secondary;
    }

}

.card:hover {
    box-shadow: 5px 10px 20px rgba(50, 0, 0, 4);
    transform: translate(-3%);
}





/* Footer ------------------------------------------------------------------------------------------------------------------------*/

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ccc;
}

footer h2 {
    color: white;
    font-size: 2rem;
    font-family: 'Lucida Grande';
}

footer img {
    height: 10vh;
}

footer a :hover {
    transform: translate(-4%);
}

@font-face {
    font-family: letra;
    src: url(bernand.ttf);
}

